<loader loading="loading"></loader>

<div id="user-accounts">

  <section class="page-content-simple">
    <div class="columns col-lg-12 col-sm-12 align-right">
      <button ng-disabled="accountSettings === null" ng-click="onClickAccountSettingsPolicy()" class="btn btn-tertiary">
        <img src="../../assets/icons/icon-config.svg">
        Account settings
      </button>
    </div>
  </section>



  <section id="user-edit" class="page-content-rnd">
    <div class="local-users">

      <div class="local-users__actions align-left">
        <button ng-disabled="userRoles === null || localUsers.length >= 15" ng-click="onClickAddUser()"
          class="btn-icon">
          <img src="../../assets/icons/icon-plus.png">
          Add user
        </button>
      </div>

      <bmc-table model="tableModel" emit-action="onEmitAction(value)" class="local-users__table">
      </bmc-table>

  </section>