// Overrides style for ngToast notifications
.ng-toast {
  margin-top: 9em;
  .close {
    margin: .3em;
  }
  .title {
    font-weight: bold;
  }
  .ng-toast__message {
    max-width: 400px;
  }
  .alert {
    color: $text-01;
    border-radius: 0;
    text-align: left;
  }
}

.ng-toast.ng-toast--right .ng-toast__list {
  left: auto;
  right: 0;
  margin-right: 0px;
}
.ng-toast.ng-toast--top .ng-toast__list {
  top: -90px;
}
