<div id="virtual-media">

  <section class="page-content-box">

    <primary>
      <div class="columns col-12">
        <legend for="boot-selected align-left">
          Virtual media device</legend>
        <p class="vm__page-description" ng-if="devices.length >= 1">Specify image file location to start session.</p>
        <div class="message-box" ng-show="1 > devices.length">
          There are no Virtual Media devices available.
        </div>
      </div>
    </primary>

    <div class="table row vm__upload">
      <div class="table__head fixed-table-header">
        <div class="table__row">
          <div class="table__cell">Device Name</div>
          <div class="table__cell vm__upload-chooser">File Upload</div>
          <div class="table__cell">Status</div>
          <div class="table__cell">File Action</div>
        </div>
      </div>

      <div class="table__row" ng-repeat="device in devices track by $index">

        <div class="table__cell">
          {{device.deviceName}}</div>

        <div class="table__cell vm__upload-chooser">

          <label for="file-upload" class="inline vm__upload-name">
            <input id="file-upload" type="file" file="device.file" class="hide" ng-disabled="device.isActive" />
            <span class="btn btn-primary btn-small" ng-class="{disabled:device.isActive}">Choose a file</span>
            <span class="inline"><span ng-if="!device.file">No file chosen</span><span
                ng-if="device.file.name !== undefined">{{device.file.name}}</span></span>
            <span class="icon__exit" ng-if="device.file && !device.isActive" ng-click="resetFile($index);">
              <icon file="icon-close.svg"></icon>
            </span>
          </label>

        </div>

        <div class="table__cell">
          <div class="vm__active-text vm__active-border" ng-if="device.isActive">
            <span>Active Session</span>
          </div>
          <div class="vm__active-text vm__error-border" ng-if="device.hasError">
            <span>Error in connecting to the selected file</span>
          </div>
        </div>

        <div class="table__cell">
          <div class="vm__upload-start">
            <button type="button" ng-class="{disabled:!device.file}" class="btn btn-primary"
              ng-click="device.isActive? stopVM($index) : startVM($index)">
              <span ng-show="device.isActive">Stop</span><span ng-show="!device.isActive">Start</span>
            </button>
          </div>
        </div>

      </div>
    </div>

  </section>
</div>