#hardware_status{
  .indent{

  }
  .indent::after {

  }
  .search-box{
  width: 100%;
  }
  .text-intro>div:nth-child(2){
    padding-left:10px;
  }
  .device_group{
    text-align: left;
    background-color: $color--blue-05;
  }
  .device_sep{
    border-top: 2px solid $color--grey-30;
  }
  .row  .page-content-box{
    min-height: 270px;
  }
  .filter-btn {
    white-space: nowrap;
  }
  .column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: left;
  }
  .text-intro{
    float: right;
  }
}