#sensors{
  #component{
    min-width:200px;
  }

  .sensors {
    max-width: 1196px;
  }

  .row {
    max-width: 100%;
  }

  .table__head .sensor__status .column {
    padding-right: 0;
    padding-left: 0;
  }

  #sensor-categories {
    font-size:13px;
    padding:10px;
    display: block;
    border-collapse: collapse;

      .sensor__threshold{
        text-align:center;
        flex-direction: row;
        opacity: .8;
        @include fastTransition-all;
      }


      .sensor__status{
        max-width:120px;
      }

      .sensor__title{
        min-width:20%;
        text-align:left;
        font-weight: 500;
        @include mediaQuery(medium) {
          font-weight: inherit;
      //    min-width:20%;
        }
      }


      input{
        width: 16px;
        height: 16px;
      }
  }

}