#sensors{
  #component{
    min-width:200px;
  }
  .sensor__title.table__cell{
    text-align:left
  }
}



#Rsensors{
  #component{
    min-width:200px;
  }

  .sensors {
    max-width: 1196px;
  }

  .row {
    max-width: 100%;
  }

  .table__head .sensor__status .column {
    padding-right: 0;
    padding-left: 0;
  }

  .sensor__table {
    font-size:13px;
    padding:10px;
    display: block;
    border-collapse: collapse;
    .sensor__threshold{
      text-align:center;
      flex-direction: row;
      opacity: .8;
      @include fastTransition-all;
    }
    .sensor__status{
      @include mediaQuery(x-small) {
      max-width:120px;
      }
    }
    .fixed-table-header .sensor__title{
      background-color: $color--grey-20;
    }
    input{
      width: 16px;
      height: 16px;
    }
    .sensor__title{
      min-width:20%;
      text-align:left;
      font-weight: 500;
      background-color: $color--grey-20;
      min-width:20%;
      font-weight: 500;
      @include mediaQuery(x-small) {
        background-color: inherit;
        font-weight: inherit;
      }
      @include mediaQuery(medium) {
        font-weight: inherit;
      }
    }
  }

}