#sys-log {
  input[type='date']{
    width:110px;
    padding: 15px 5px 15px 5px;
  }

  .row {
    max-width: 100%;
  }

  .sys-log__col-date{
    line-height: 1;
    padding-top:10px;
    &.table__head{
      padding: 0;
    }
  }

  .table__head {
    .sys-log__col-date{
      line-height: 2.8em;
    }
  }

  .table__head .table__cell{
    line-height: 1;
    padding-top:19px;
    padding-bottom:19px;
  }

  // Single event log card
  .sys-log__single-event {
    border: 1px solid $border-color-01;
    padding: 1em 1em 1em .7em;
    margin: .5em 0 .5em 0;
    position: relative;
    overflow: hidden;
    @include fastTransition-all;
    &.active {
      background-color: $background-02;
      @include slowTransition-all;
    }
  }
  .sys-log__event-info {
    &:hover {
      cursor: pointer;
    }
  }

  #content__search-input {
    width:100%;
    @include mediaQuery(small) {
      min-width:100%;
    }
    @include mediaQuery(medium) {
      min-width:250px;
    }
  }
  .status-icon{
    max-width:32px;
    margin-right:0px;
    padding:0px;
  }

  .alert-box{
    position: absolute;
    z-index: 100;
    right: 8px;
    margin-top: -30px;
    border-radius: 0px;
    text-align: left;
    font-size: 14px;
    width: fit-content;
    transition: all .2s ease;
    box-shadow: 0px 4px 35px 6px $box-shadow-color;
    transform: scale(0); /*scale it to a smaller size*/
    button{
      @include resize-button('x-small')
    }
    &.show {
      visibility: visible;
      z-index: 200;
      opacity: 1;
      transform: scale(1); /*scale it to a default size*/
    }
  }

  .sys-log__table {
    font-size:13px;
  }

  .sys-log__col-desc{
    cursor: pointer;
    line-height:1.4em;
    padding-top:19px;
    &.expand{
      white-space: inherit;
      overflow: visible;
      text-overflow: unset;
      padding-bottom:19px;
      transition: all .4s ease;
    }
  }

  .sensor__status-icon{
    max-width:32px;
    margin-right:0px;
    padding:0px;
  }
  .sys-log__col-sev{
    max-width:150px;
  }
  .sys-log__col-date{
    max-width:200px;
  }
  .sys-log__col-id{
    max-width:120px;
  }

  .details-hide{
    display:none;
  }

  .line1{
    display:inline;
    @include mediaQuery(x-large) {
      display:inline;
    }
  }
  .line2{
    display:block;
    color: $color--grey-70;
    @include mediaQuery(x-large) {
      display:inline;
    }
  }
}