<loader loading="loading"></loader>
<div id="configuration-snmp">
  <div class="float-right padding">
    <button type="button" class="btn btn-tertiary" ng-click="rowUpdate=false;refresh()">Reset</button>
    <button type="button" class="btn btn-tertiary" ng-click="submitted=true;  snmp__form.$valid && setSNMP();"
      ng-class="rowUpdate ? 'highlighted' : ''">Save
      Page Settings</button>
  </div>

  <section class="columns col-12">
    <form id="snmp__form" name="snmp__form" novalidate>
      <div class="page-content-box">
        <h5>Simple Network Management Protocol (SNMP) Managers</h5>

        <div class="table row column" ng-show="managers.length > 0">
          <div class="table__head fixed-table-header">
            <div class="table__row">
              <div class="table__cell">Hostname or IP Address</div>
              <div class="table__cell">Port</div>
              <div class="table__cell action-wrapper"></div>
            </div>
          </div>
          <div class="table__body">
            <div class="table__row" ng-repeat="manager in managers track by $index">
              <div class="table__cell">
                <input ng-class="!editSNMPSettings ? 'showborders' : 'hideborders'"
                  id="snmp-manager{{ $index + 1 }}-address" name="snmp-manager{{ $index + 1 }}-address" type="text"
                  ng-change="manager.updateAddress=true" ng-model="manager.address" required />
                <div ng-messages="manager_group['snmp-manager'+($index+1)+'-address'].$error" class="form-error"
                  ng-class="{'visible': manager_group['snmp-manager'+($index+1)+'-address'].$touched || submitted}">
                  <p ng-message="required" role="alert">Field is required</p>
                </div>
              </div>
              <div class="table__cell">
                <input ng-class="!editSNMPSettings ? 'showborders' : 'hideborders'"
                  id="snmp-manager{{ $index + 1 }}-port" name="snmp-manager{{ $index + 1 }}-port" type="number" min="0"
                  max="65535" step="1" ng-change="manager.updatePort=true" ng-model="manager.port" required />
                <div ng-messages="manager_group['snmp-manager'+($index+1)+'-port'].$error" class="form-error"
                  ng-class="{'visible': manager_group['snmp-manager'+($index+1)+'-port'].$touched || submitted}">
                  <p ng-message="required" role="alert">Value must be between 0 - 65,535</p>
                </div>
              </div>
              <div class="table__cell action-wrapper">

                <div class="bmc-table__row-actions ng-scope">
                  <button ng-disabled="!manager.port || !manager.address" ng-show="!editSNMPSettings"
                    class="btn btn-primary btn-small" ng-click="editSNMPSettings=true;updatedRow()">
                    <img alt="Complete" title="Complete" src="/app/assets/icons/icon-check.svg">
                  </button>
                  <button ng-show="editSNMPSettings" class="btn btn-primary btn-small"
                    ng-click="editSNMPSettings=false">
                    <img alt="Edit" title="Edit" src="/app/assets/icons/icon-edit.svg">
                  </button>
                  <button class="btn btn-primary btn-small" ng-click="removeSNMPManager($index);updatedRow()">
                    <img alt="Remove" title="Remove" src="/app/assets/icons/icon-trashcan.svg">
                  </button>
                </div>

              </div>

            </div>
          </div>
        </div>

        <div class="message-box" ng-show="managers.length == 0">
          No SNMP Managers currently specified.
        </div>

        <div>
          <button ng-click="editSNMPSettings=false;submitted=false; addNewSNMPManager();" class="btn-icon">
            <img src="../../assets/icons/add--alt.svg">
            Add Manager</button>
        </div>

      </div>
    </form>
  </section>
  <br clear="all">
</div>